bod {
    color: red; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* background-color: aqua; */
    background-color: white;
    /* text-align: center; */
    /* text-align: right; */
    text-align: left; /* default */

}

.highlight {
    color: antiquewhite;
    background-color: yellow;
}

#main-title {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
}

/* if you want h2 and h3, just do h2, h3 */
/* h2 {
    color: blue;
} */

h2, h3 {
    color: blue;
}

/* this is for the links */
nav a {
    margin-right: 10px;
    text-decoration: none;
    color: green;
}

/* when you hover over the link it underlines */
nav a:hover {
    text-decoration: underline;
}

.box {
    border: 2px solid black;
    /* changes the smoothnes of corner of the boxes */
    border-radius: 10px;
    /* spaces out the inner content from the border */
    padding: 10px;
    /* shadow beneath and to the side of the box, 4px is vertical/horizont that's why there is 2, 10px is to blur */
    box-shadow: 10px 4px 4px red;
}

.box:hover {
    background-color: yellow;
    box-shadow: 10px 4px blue;
}

.margin-padding-demo {
    background-color: blue;
    color: white;
    border: 2px solid black;

    /* spacing inside */
    padding: 20px;
    /* put zero to not affect the box?? */
    margin: 100px 0;
}

